// vars
$transparent: #9e8a8a00;
$legend-bg:#d3bdbdbe;

// reset
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: $transparent;
}

.container {
  // width: 960px;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  background-color: $transparent;

}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2{
    font-size: 24px;
    padding: 0px;
    margin: 0px;
  }

  h3 {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
  }
}

svg {
  display: block ;
  margin: auto;
  text-align: center;
  // text-anchor: middle;
  .legend-item {
    stroke: black;
  }
}
#tooltip {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: justify;
  padding: 5px;
  box-shadow: 1px 1px 10px;
  border-radius: 10px;
  pointer-events: none;  
  background-color: $legend-bg;
}

#legend {
  width: 100%;
}